# App
APP_NUM_THREAD=
APP_REPORT_URL=

# Kafka
KAFKA_BROKER=
KAFKA_PING_TOPIC=
KAFKA_MAIL_TOPIC=
KAFKA_HEARTBEAT_TOPIC=
KAFKA_GROUP_ID=

# Gomail
GOMAIL_ADDR=
GOMAIL_PORT=
GOMAIL_FROM=
GOMAIL_PASSWORD=